language: php

php:
    - '7.1'
    - '7.2'
    - '7.3'

cache:
    directories:
        - $HOME/.composer/cache

before_install:
    - phpenv config-rm xdebug.ini

install:
    - composer install --no-interaction

script:
    - ./vendor/bin/phpstan analyze --configuration=phpstan.neon --level=max --no-interaction --no-progress src/ tests/ bin/
    - ./vendor/bin/phpunit
