includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    excludes_analyse:
        - '%rootDir%/../../../tests/Tsufeki/Tenkawa/fixtures/*'
    ignoreErrors:
        - '#Call to an undefined static method Recoil\\Recoil::eventLoop\(\)#'
        - '#(Tsufeki\\Tenkawa\\Php\\PhpStan\\.*|Anonymous.*)::__construct\(\) does not call parent constructor from (PHPStan\\.*|Reflection(Class|Property|Method)|PhpParser\\PrettyPrinterAbstract|Tsufeki\\Tenkawa\\Php\\PhpStan\\Utils\\DocumentParser)#'
        - '#Call to an undefined method PDO::sqliteCreateFunction\(\)#'
